body{
    margin: 0;
    background-color: rgb(94, 142, 142);
    font-family: sans-serif;

}

.todo-container{

    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}



.input-section input{
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

ul{
    
    text-align: left;
    padding: 0;
    
}

ul li{
    list-style: none;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.delBtn{
    margin-left: 14rem
}